{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <div class="author__portrait">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
    </div>
  </div>
  <div class="author__content">
    <h2 class="author__name" itemprop="name">{{ author.name }}</h2>
    {% if author.role %}<p class="author__role">{{ author.role }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>
  <div class="author__contact">
    {% if author.location %}<p class="author__location">{{ author.location }}</p>{% endif %}
    {% if author.email %}<a href="mailto:{{ author.email }}" itemprop="email">{{ author.email }}</a>{% endif %}
  </div>
</div>
